.isotipo-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.isotipo{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* isotipo normal siempre visible */
.isotipo.normal {
  opacity: 1;
}

/* isotipo guiño aparece y desaparece */
.isotipo.wink {
  animation: wink 3s infinite;
}

@keyframes wink {
  0%, 35% {
    opacity: 0;
  }
  40%, 60% {
    opacity: 1;
  }
  65%, 100% {
    opacity: 0;
  }
}