@keyframes wink {
    0%, 90% { 
      opacity: 1; 
    }
    45%, 55% { 
      opacity: 0; 
    }
  }
  
  .wink-animation {
    animation: wink 2s infinite;
  }
  
  .wink-animation-reverse {
    animation: wink 2s infinite reverse;
  }