@font-face {
    font-family: 'Yeseva One';
    src: url('../fonts/yesevaone-regular-webfont.woff') format('woff'),
         url('../fonts/yesevaone-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }