.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.modal-content {
    background: white;
    padding: 20px;
    border-radius: 0px;
    width: 90%;
    max-width: 300px;
}
.close-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    align-items: flex-end;
    padding: 0;
}

.form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .submit-button {
    width: 100%;
    padding: 10px;
    background-color:#e6007e;
    color: white;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    text-transform: uppercase;
  }
