.welcome-container {
  max-width: 100%;
  min-height: 100vh;
  background-color: white;
  font-family: Arial, sans-serif;
  position: relative;
  padding: 30px;
  padding-top: 80px;
  padding-bottom: 0px;
}

.hello-player-name {
  font-family: 'Yeseva One';
  text-align: left;
}

.hello-player p {
  font-size: 17px;
  text-align: left;
}


.hello-player p span {
  font-style: italic;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2rem;
  position: relative;

}

.content {
  display: flex;
  margin: 0px;
  padding: 0px;
}

.color-picker {
  width: 100%;
  margin-bottom: 1rem;
}

.color-options {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 0.5rem;
}

.color-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #ddd;
  cursor: pointer;
  transition: transform 0.2s;
}

.color-button:hover {
  transform: scale(1.1);
}


.game-text {
  text-align: left;
  width: 100%;
}

.game-text p {
  letter-spacing: 1.8px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.3;
  margin: 0;
  text-align: left;
}

.link-aqui {
  font-weight: bold;
}

@media (min-width: 768px) {
  .arrows-container {
    position: static;
    justify-content: flex-start;
    margin-top: 1rem;
    margin-left: 2.3rem;
  }
}