@import '../../assets/fonts/fonts.css';

.register-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: white;
}

.register-form {
    width: 320px;
    padding: 3rem;
    border: 1px solid #e5e7eb;
}

.title {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-align: left;
    font-family: "Yeseva One";
    font-size: 30px;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;  /* Aumentado el gap */
}

.input-field {
    width: 100%;
    padding-left: 0;
    color: #4b5563;
    border: none;
    border-bottom: 1px solid #e5e7eb;
    padding-bottom: 0.3rem;
    margin-bottom: 1.5rem;  /* Añadido margen inferior */
}

.input-field:focus {
    outline: none;
}

.submit-button {
    margin-top: 1.5rem;  /* Aumentado el margen superior del botón */
    border-radius: 0px;
    width:100%;
}

.footer {
    text-align: center;
    color: #666;
    margin-top: 2rem;  /* Aumentado el margen superior del footer */
    font-size: 0.9rem;
}